# Default ignored files
/../../15 stl1 /.idea/shelf/
/../../15 stl1 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../15 stl1 /.idea/httpRequests/
# Datasource local storage ignored files
/../../15 stl1 /.idea/dataSources/
/../../15 stl1 /.idea/dataSources.local.xml
