# Default ignored files
/../../8 relational operator /.idea/shelf/
/../../8 relational operator /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../8 relational operator /.idea/httpRequests/
# Datasource local storage ignored files
/../../8 relational operator /.idea/dataSources/
/../../8 relational operator /.idea/dataSources.local.xml
