# Default ignored files
/../../9 friend operator /.idea/shelf/
/../../9 friend operator /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../9 friend operator /.idea/httpRequests/
# Datasource local storage ignored files
/../../9 friend operator /.idea/dataSources/
/../../9 friend operator /.idea/dataSources.local.xml
