# Default ignored files
/../../18 stl3 algorithms find.../.idea/shelf/
/../../18 stl3 algorithms find.../.idea/workspace.xml
# Editor-based HTTP Client requests
/../../18 stl3 algorithms find.../.idea/httpRequests/
# Datasource local storage ignored files
/../../18 stl3 algorithms find.../.idea/dataSources/
/../../18 stl3 algorithms find.../.idea/dataSources.local.xml
