# Default ignored files
/../../Unary operator oveloading /.idea/shelf/
/../../Unary operator oveloading /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Unary operator oveloading /.idea/httpRequests/
# Datasource local storage ignored files
/../../Unary operator oveloading /.idea/dataSources/
/../../Unary operator oveloading /.idea/dataSources.local.xml
