# Default ignored files
/../../20 recursive /.idea/shelf/
/../../20 recursive /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../20 recursive /.idea/httpRequests/
# Datasource local storage ignored files
/../../20 recursive /.idea/dataSources/
/../../20 recursive /.idea/dataSources.local.xml
