# Default ignored files
/../../11 polymorphism /.idea/shelf/
/../../11 polymorphism /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../11 polymorphism /.idea/httpRequests/
# Datasource local storage ignored files
/../../11 polymorphism /.idea/dataSources/
/../../11 polymorphism /.idea/dataSources.local.xml
